.footer-wrapper {
  @extend %flexbox;

  align-items: center;
  border-top: 1px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 12px;
}

.footer-link {
  &-wrapper {
    display: flex;
  }
  &__description {
    @extend %font-base;
    color: $secondary-text-color;

    margin-right: 5px;
  }

  &__link {
    @extend %font-base;
    color: $secondary-accent-color;
    text-decoration: none;
  }
}

input::-webkit-input-placeholder {
  color: #cccccc;
}

input::-moz-placeholder {
  color: #cccccc;
}

input:-ms-input-placeholder {
  color: #cccccc;
}

input::-ms-input-placeholder {
  color: #cccccc;
}

input::placeholder {
  color: #cccccc;
}

.input-box {
  display: flex;
  &__placeholder {
    @include font(15px, 400, 24px);
    width: 230px;
    height: 40px;
    border: 1px solid #e7e7e7;
    background-color: $main-text-color;
    font-family: $secondary-font;
    font-style: italic;
    padding-left: 10px;
    outline: 0px;
  }
}
